
body{    
    background: rgb(123, 180, 248);
    font-family: "Roboto Condensed", serif;
    font-size: 25px;
}

.header_div{
    background: white;
    color: black;
}

.main_div button{
    font-family: sans-serif, ;
    margin-top: 30px;
    width: 200px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_rigth_footer{
    position: fixed;
    color: rgb(43, 8, 41);
    bottom: 0;
    width: 100%;
    font-size: 30px;
    background-color: rgb(138, 123, 248);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(58, 40, 58);
}



